@if (data) {
<div
  class="grid grid-cols-1 w-full md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 grid-flow-row-dense gap-10 place-items-start p-4 xl:px-16"
>
  <div class="flex flex-col md:sticky lg:sticky xl:sticky top-2 w-full gap-2">
    <a href=".." class="text-primary-500 text-sm hover:underline"
      ><i class="bi bi-chevron-left"></i> Back to list</a
    >
    <img
      [src]="data.Image.length > 0 ? data.Image : data.Image1"
      class="object-contain flex-1 w-full rounded-xl"
      [class]="classLoad"
      (onload)="classLoad = 'animate-pulse'"
      (onloadeddata)="classLoad = ''"
      alt=""
    />
    <div class="flex gap-1">
      <img
        [src]="data.Image"
        class="object-contain w-20 rounded-xl cursor-pointer hover:opacity-40 transition-all duration-300"
        onerror="this.style.display='none'"
        [alt]="data.Image"
        (click)="changeImage()"
      />
      <img
        [src]="data.Image1"
        class="object-contain w-20 rounded-xl cursor-pointer hover:opacity-40 transition-all duration-300"
        onerror="this.style.display='none'"
        [alt]="data.Image1"
        (click)="changeImage()"
      />
    </div>
    <div
      class="border border-gray-200 rounded-xl p-4 w-full grid grid-cols-1 divide-y gap-4 flex lg:hidden xl:hidden"
    >
      <div class="flex justify-between">
        <span class="font-bold">Ship to</span>
        <span class="text-gray-400 font-extralight"
          ><i class="bi bi-geo-alt"></i> United States</span
        >
      </div>

      <div class="flex flex-col pt-4">
        <span class="font-bold"
          >Choice Delivery <i class="bi bi-chevron-right"></i
        ></span>
        <span class="font-bold">Free Shipping</span>

        <p class="font-thin">
          delivery by Apr 26 - May 01 (70.7% ≤ 10 days) and a $1.00 coupon
          for late delivery
        </p>
      </div>

      <div class="flex flex-col pt-4">
        <span class="font-bold"
          >Choice Service <i class="bi bi-chevron-right"></i
        ></span>
        <span class="font-bold">Free Shipping</span>

        <div class="font-thin text-green-500 flex items-center gap-2">
          Free returns
          <span class="text-gray-600 font-extrabold">.</span> Delivery guarantee
        </div>
      </div>

      <div class="flex flex-col pt-4 gap-2 sticky top-0">
        <span class="font-bold">Quantity</span>
        <app-control-button></app-control-button>
        <app-button [buttons]="buttonsBuy"></app-button>
      </div>
    </div>
  </div>
  <!-- </div> -->

  <div class="grid grid-cols-1 gap-2">
    <div class="flex flex-col">
      <span class="text-primary-500">{{ data.Category }}</span>
      <h1 class="text-gray-700 font-semibold text-4xl">{{ data.Name }}</h1>
      @if (data.Reviews.rating) {
      <app-rating-bar
        [rating]="data.Reviews.rating"
        [ratingText]="true"
        [votes]="data.Reviews.votes"
      ></app-rating-bar
      >}
    </div>

    @if (data.Promo_apply.length>0) {
    <p
      class="font-thin text-xs text-red-700 bg-red-50 rounded-2xl px-2 w-fit py-1"
    >
      <i class="bi bi-info-circle"></i> {{ data.Promo_apply }}
    </p>
    }
    <div class="font-semibold text-gray-700 text-2xl flex items-start">
      <span class="text-xs pt-1">$</span>
      {{ data.Price | number : "1.2-2" }}
    </div>

    <div class="flex flex-col gap-2">
      <p class="text-xs font-bold">
        {{ data.Colors }}
      </p>
      <div class="flex gap-2">
        @for (item of data.Color_detail; track $index) {
        <div
          class="flex flex-col gap-2 border border-gray-300 w-20 p-2 rounded-md overflow-hidden"
        >
          <img
            [src]="item.image_url"
            class="object-contain rounded-sm"
            alt=""
          />
          <p class="text-xs">{{ item.color }}</p>
        </div>
        }
      </div>
    </div>

    <div class="flex flex-col gap-2 bg-primary-100 p-4 rounded-xl">
      <h3 class="text-lg font-bold text-primary-700">
        {{ data.Description_title }}
      </h3>
      <p class="text-sm">{{ data.Description_content }}</p>
    </div>

    @if(data.Details.length>0){
    <div class="flex flex-col gap-2">
      <h3 class="text-xl mt-8"><i class="bi bi-journal-text"></i> Details</h3>

      <ul class="pl-4 list-disc font-thin text-gray-900">
        @for (item of data!.Details.split('\n'); track $index) {
        <li>{{ item }}</li>
        }
      </ul>
    </div>
    } @if(data.Care.content.length>0){
    <h3 class="text-lg mt-8">
      <i class="bi bi-exclamation-triangle"></i> {{ data.Care.title }}
    </h3>
    <ul class="pl-4 list-decimal text-gray-900 font-thin">
      @for (item of data!.Care.content; track $index) {
      <li>{{ item }}</li>
      }
    </ul>
    }
  </div>

  <div
    class="border border-gray-200 rounded-xl p-4 w-full grid grid-cols-1 divide-y gap-4 sticky top-2  hidden lg:grid xl:grid"
  >
    <div class="flex justify-between">
      <span class="font-bold">Ship to</span>
      <span class="text-gray-400 font-extralight"
        ><i class="bi bi-geo-alt"></i> United States</span
      >
    </div>

    <div class="flex flex-col pt-4">
      <span class="font-bold"
        >Choice Delivery <i class="bi bi-chevron-right"></i
      ></span>
      <span class="font-bold">Free Shipping</span>

      <p class="font-thin">
        delivery by Apr 26 - May 01 (70.7% ≤ 10 days) and a $1.00 coupon
        for late delivery
      </p>
    </div>

    <div class="flex flex-col pt-4">
      <span class="font-bold"
        >Choice Service <i class="bi bi-chevron-right"></i
      ></span>
      <span class="font-bold">Free Shipping</span>

      <div class="font-thin text-green-500 flex items-center gap-2">
        Free returns
        <span class="text-gray-600 font-extrabold">.</span> Delivery guarantee
      </div>
    </div>

    <div class="flex flex-col pt-4 gap-2 sticky top-0">
      <span class="font-bold">Quantity</span>
      <app-control-button></app-control-button>
      <app-button [buttons]="buttonsBuy"></app-button>
    </div>
  </div>
</div>
}
