<nav
  class="w-full flex items-center justify-between border-b border-gray-300 bg-primary-600 text-white p-4 absolute top-0 z-30 gap-3"
>
  <div class="font-extrabold flex text-sm md:text-lg lg:text-lg xl:text-lg">
    Commerce
    <div class="rotate-12 scale-110 text-yellow-400">T</div>
    ools
  </div>
  <div
    class="flex-1 relative md:flex lg:flex xl:flex items-center hidden max-w-xl"
  >
    <input
      type="text"
      class="w-full outline-none px-4 h-8 text-sm rounded-2xl bg-white/40 placeholder-white"
      placeholder="search"
      name="search"
      (ngModelChange)="change($event)"
    />
    <i class="absolute right-3 bi bi-search text-white"></i>
  </div>
  <div class="action flex gap-2 w-fit">
    <i
      class="bi bi-search flex md:hidden lg:hidden xl:hidden w-8 h-8 cursor-pointer hover:opacity-80 transition-all duration-300 flex justify-center items-center text-white rounded-full"
    ></i>
    <i
      class="bi bi-translate w-8 h-8 cursor-pointer hover:opacity-80 transition-all duration-300 flex justify-center items-center text-white rounded-full"
    ></i>
    <i
      class="bi bi-cart3 w-8 h-8 cursor-pointer hover:opacity-80 transition-all duration-300 flex justify-center items-center text-white rounded-full"
    ></i>
    <i
      class="bi bi-person-fill w-8 h-8 cursor-pointer hover:opacity-80 transition-all duration-300 flex justify-center items-center text-white rounded-full"
    ></i>
  </div>
</nav>
