<div class="flex flex-wrap">
  @for (item of buttons; track $index) {
  <button
    [class]="item.class"
    class="bg-primary-500 rounded-md px-6 py-2 text-white font-bold text-sm flex justify-center gap-2 transition-colors transform duration-300 hover:bg-primary-700 outline-primary-500 focus:bg-primary-600 focus:outline-2 focus:outline focus:outline-offset-2"
    [disabled]="disabled(item.disable)"
    (click)="click(item.click)"
  >
    @if (item.icon) {<i class="bi" [class]="item.icon"></i>} @if (item.label)
    {<span> {{ item.label }}</span
    >}
  </button>
  }
</div>
