<div class="flex flex-col gap-2 px-2">
  <div class="sticky top-0 bg-white z-20">
    <h1 class="text-4xl font-bold">Product List</h1>
    <div class="w-full flex flex-wrap gap-2 my-2">
      @for (item of categorys; track $index) {
      <span class="px-3 border border-gray-300 hover:scale-105 transition-all duration-300 cursor-pointer py-2 w-fit bg-gray-200 rounded-2xl text-xs">{{
        item
      }}</span>
      }
    </div>
  </div>
  <div
    class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 w-full"
  >
    <!-- {{data|json}} -->
    @for (item of data; track $index) {<app-card [card]="item" />}
  </div>
</div>
